chapter_3.3/chapter_3.3
chapter_3.4/chapter_3.4
chapter_3.5/chapter_3.5
chapter_3.6/chapter_3.6
ttt/playttt/playttt
chapter_4.4_pruned/chapter_4.4_pruned
chapter_4.4_alphabeta/chapter_4.4_alphabeta
chapter_4.5_mcts/chapter_4.5_mcts
nn/printImage/printImage
*.png
nn/pickles2gob/pickles2gob
nn/average_digits/average_digits
*.pkl
